body {
	background-image: url('images/bg1.jpg');
}

#header {
	background-color: #BC8FA0; /* rosybrown */
	border-bottom-style: groove;
	border-bottom-color; grey;
	font-family: Courier New;
	font-size: 20px;
	letter-spacing: 2px;
	padding: 50px;
	text-shadow: 1px 1px grey;
	width: 100%;
}

#header > span {
	margin-left: 30%;
}

#header > ul {
	display: inline;
	float: right;
	list-style-type: none;
	margin-right: 5%;
	margin-bottom: 10%;
}

#header > ul > li {
	padding: 20px;
	background-color: #BCA0D0;
	display: inline;
	text-align: center;
}

#miscellaneous {
	float: left;
	font-family: sans-serif;
	margin-top: 50px;
	position: absolute;
}

#miscellaneous > span {
	background-image: url('images/bg2crop.jpg');
	font-size: 20px;
	text-align: left;
	padding: 10px;
	padding-right: 20px;
	border: round;
}

#miscellaneous > ul {
	list-style-type: none;
	width: 200px;
}

#miscellaneous > ul > li {
	margin: 5px;
	padding: 20px;
	background-color: #BDA0A0;
	text-align: center;
	-webkit-animation: unset;
	-moz-animation: unset;
}

@-webkit-keyframes miscButton {
	0% { background-color: #BDA0A0; }
	50% { background-color: #BDAACA; }
	100% { background-color: #BDA0A0; }
}

@-moz-keyframes miscButton {
	0% { background-color: #BDA0A0; }
	50% { background-color: #BDAACA; }
	100% { background-color: #BDA0A0; }
}
