body {
	background-image: url('images/bg1.jpg');
	cursor: default;
}

/* modal entry */
.modal {
	display: none;
	position: fixed;
	z-index: 1; /* sits on top of window */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgb(0,0,0,0.6);
}

.modal-content {
	background: linear-gradient(to bottom, antiquewhite, aliceblue);
	font-family: Courier New;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	height: 30%;
	width: 15%;
}

.modal-content input, .modal-content a {
	margin-top: 20px;
	text-decoration: none;
}

#newsubmit {
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#newsubmit:focus {
	background-color: #FFF;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: solid orange;
	border-radius: 5px;
}

#newname, #newpass {
	color: slategrey;
}
#newname:focus, #newpass:focus {
	border: solid orange;
	border-radius: 5px;
	background-color: #FFF;
	padding: 2px;
	color: #CCC;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* ----------- */

#header {
	background-color: #BC8FA0; /* rosybrown */
	border-bottom-style: groove;
	border-bottom-color; grey;
	font-family: Courier New;
	font-size: 20px;
	letter-spacing: 2px;
	padding: 50px;
	text-shadow: 1px 1px grey;
	width: 100%;
}

#header > span {
	margin-left: 30%;
}

#header > ul {
	display: inline;
	float: right;
	list-style-type: none;
	margin-right: 5%;
	margin-bottom: 10%;
}

#header > ul > li {
	padding: 20px;
	background-color: #BCA0D0;
	display: inline;
	text-align: center;
}

#miscellaneous {
	float: left;
	font-family: sans-serif;
	margin-top: 50px;
	position: absolute;
}

#miscellaneous > span {
	background-image: url('images/bg2crop.jpg');
	font-size: 20px;
	text-align: left;
	padding: 10px;
	padding-right: 20px;
	border: round;
}

#miscellaneous > ul {
	list-style-type: none;
	width: 200px;
}

#miscellaneous > ul > li {
	margin: 5px;
	padding: 20px;
	background-color: #BDA0A0;
	text-align: center;
	-webkit-animation: unset;
	-moz-animation: unset;
}

@-webkit-keyframes miscButton {
	0% { background-color: #BDA0A0; }
	50% { background-color: #BDAACA; }
	100% { background-color: #BDA0A0; }
}

@-moz-keyframes miscButton {
	0% { background-color: #BDA0A0; }
	50% { background-color: #BDAACA; }
	100% { background-color: #BDA0A0; }
}
